* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#turnDeviceSection {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.nonSelectText {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#settingsSection {
  position: fixed;
  z-index: 1000;
  pointer-events: auto;
}

#balanceSection {
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  display: flex;
  position: fixed;
  font-size: 1vw;
}

#playerBalanceDiv {
  color: white;
  text-shadow: white 0 0 0.2vw;
  font-size: 2vw;
  position: absolute;
  top: 3vw;
  left: 1vw;
  transition-delay: 2s,
}

.balanceSmallNоtification {
  text-shadow: white 0 0 0.2vw;
  font-size: 1vw;
  position: absolute;
  transition-duration: 2s;
}

#messagesSection {
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  display: flex;
  position: fixed;
  font-size: 1vw;
}

.messagesSection-message {
  color: #c90909;
  margin: auto;
  text-shadow: white 0 0 0.2vw;
  position: absolute;
}

.stockSection {
  width: 100vw;
  height: 100vh;
  position: fixed;
  pointer-events: none;
  display: flex;
  top: 0px;
  left: 0px;
  z-index: 100;
}

.stockCard {
  width: 50vw;
  max-height: 90vh;
  background-color: #dd5e60;
  margin: auto;
  display: none;
}

.stockCard_title {
  text-align: center;
  font-size: 2.5vw;
  color: white;
  text-shadow: 0 0 0.1vw black;
}

.stockCard_content {
  width: 90%;
  margin: auto;
  display: flex;
}

.stockCart_list {
  width: 100%;
  overflow-y: scroll;
}

.stockCart_list-item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 5%;
}

.stockCart_list-item-title {
  padding-top: 1.5vw;
}

.stockCart_list-item-content {
  display: flex;
}

.stockCart_list-item-productCeil {
  width: 5vw;
  height: 5vw;
  border-radius: 1vw;
  background-color: white;
  margin-left: 2vw;
  border: 1px solid black;
  text-align: center;
  padding-top: 1vw;
  font-size: 2vw;
  color: #9f9f9f;
}

.stockCart_list-item-productCeil-full {
  color: black;
}

.stockCart_list-item-end {
  border-radius: 10vw;
  text-align: center;
}

#playersNamesSection {
  width: 100vw;
  height: 100vh;
  position: fixed;
  pointer-events: none;
  text-shadow: 0 0 2px black;
  font-size: 2vw;
}

#factoryBankSection {
  width: 100vw;
  height: 100vh;
  position: fixed;
  pointer-events: none;
  z-index: 100;
  display: none;
}

#factoryBankContainer {
  width: 80vw;
  height: 80vh;
  box-shadow: 0 0 5vw black;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  position: relative;
  flex-wrap: wrap;
  overflow: scroll;
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.5);
}

.factoryTypeContainer {
  width: 20vw;
  height: 30vw;
  margin: 2vw;
}

#closeFactoryBankSection {
  position: absolute;
  width: 3vw;
  height: 3vw;
  pointer-events: auto;
  top: 0px;
  right: 0px;
}

.buyFactoryTypeButton {
  margin: auto;
  pointer-events: auto;
  display: block;
  font-size: 1.5vw;
}

#cityNamesSection {
  position: fixed;
  pointer-events: none;
  width: 100vw;
  height: 100vh;
  color: white;
  text-shadow: 0 0 2px black;
  font-size: 1vw;
}

.cityNameDiv {
  position: absolute;
  pointer-events: painted;
}

.cityNameDiv:hover {
  color: #d21717;
}

#turnInterfaceSection {
  width: 100vw;
  height: 100vh;
  position: fixed;
  pointer-events: none;
  z-index: 10;
  align-items: center;
  flex-direction: column;
}

#turnInterfaceSection_mouseEventsCeaper {
  width: 100%;
  height: 100%;
  pointer-events: auto;
  position: absolute;
}

#endTurnButton {
  pointer-events: auto;
  position: relative;
}

#buildRoadBtn {
  pointer-events: auto;
  position: relative;
}

#buyFactoryBtn {
  pointer-events: auto;
  position: relative;
}

#acceptBuildRoadBtn {
  pointer-events: auto;
}

#cancelBuildRoadBtn {
  pointer-events: auto;
  position: relative;
}

#changeCameraPositionBtn {
  pointer-events: auto;
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: 200;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 1024px) and (-webkit-device-pixel-ratio : 2) and (orientation : portrait) {

  /* mobile and tablets portrait*/
  #turnDeviceSection {
    display: flex;
  }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 1024px) and (-webkit-device-pixel-ratio : 3) and (orientation : portrait) {

  /* mobile and tablets portrait iphone 6plus X*/
  #turnDeviceSection {
    display: flex;
  }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 1024px) and (-webkit-device-pixel-ratio : 2) and (orientation : landscape) {

  /* mobile and tablets lanscape*/
  #turnDeviceSection {
    display: none;
  }
}

@media only screen and (orientation : portrait) {
  #turnDeviceSection {
    display: flex;
  }
}
